.navBar {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #016efc;
  padding-left: 20px;
  border-radius: 25px 25px 0 0;
  animation: opacityOn 1s ease;
}
@keyframes opacityOn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.navBarDark {
  background-color: grey;
}

.mainMenu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  column-gap: 40px;
}

.closeButton {
  cursor: pointer;
  width: 33px;
  height: 33px;
}

.close {
  border: none;
  background-color: transparent;
}

.menu ul {
  padding: 0;
  list-style-type: none;
  text-align: left;
}

.menu ul li:not(:last-of-type) {
  margin-bottom: 22px;
}

.menu a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  letter-spacing: 0.05em;
  text-decoration: none;
}

a.activeLink {
  text-decoration: underline;
}
.active_link {
  color: chartreuse;
}
.noActive_link {
  color: white;
}

.buttonLogOut {
  background-image: url(../../assets/images/icon_logout.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right;
}
