.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 19px 37.5px 50px 23px;
  width: 675px;
  height: 604px;
  background: #fdfdff;
  border: 1px solid #ebebeb;
  border-radius: 13px;
}
.imagePost {
  width: 614.2px;
  height: 249px;
  border: 1px solid #ebebeb;
  border-radius: 11px;
}
.cardTitle {
  font-family: "Alata";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #4f4f4f;
}
.cardText {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #979797;
}
.date {
  font-family: "Alata";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #016efc;
}
