.container {
  width: 250px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  font-size: 25px;
  color: #016efc;
}
.containerDark {
  background-color: black;
}

.userInicial {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  width: 50px;
  height: 50px;
  background-color: rgba(68, 162, 245, 0.897);
  text-transform: uppercase;
  font-weight: bold;
}
.userInicialDark {
  background-color: grey;
}
.user {
  text-transform: capitalize;
}
